body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.has-text-muted {
  color: #95A5A6;
}
.spacer {
  height:20px;
}
.nav-left .searchbox {
  margin-top: 10px;
}
.avatar-photo {
  border-radius: 50px;
}
.video-title {
  font-size: 1.5em;
  font-weight: 500;
}
.box.video-description {
  padding:20px 20px 5px 20px;
}
.video-description-more {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -15px;
}
.related-card .video-title {
  display:block;
  font-size: 13px;
  font-weight: 500;
}
.related-card .video-account,.related-card .video-views {
  display:block;
  font-size: 11px;
  color: #95A5A6;
}

.related-card img {
  height:68px;
}
.related-card.media .media, .related-card.media+.media {
    border-top: none;
}
.related-list .autoplay {
  padding-bottom: 10px;
}

.related-list .autoplay .autoplay-title {
  font-weight: bold;
}
.related-list .autoplay .autoplay-toggle {
  float:right;
}
.related-list .autoplay .autoplay-toggle .fa{
  font-size: 13px;
  padding:5px 10px;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    padding-bottom: 10px;
}

.popover {}

.big_img {
    height: 250px; 
    position: absolute;
    z-index: 100;
    
}

.stars-details {
    display: block;
}

.fa-star {
    font-size: 14px;
    color: orange;
}

.fa-star-half-o {
    font-size: 14px;
    color: orange; 
}

.fa-star-o {
    font-size: 14px;
    color: orange; 
}

.breadcrumb-header {
    background-color: #fff;
    padding: 10px;
    color: grey;
}

.block-link {
    display: block;
}

@media(max-width: 767px) { /* <== You can change this break point as per your  needs */
  .custom-columns {
    flex-direction: column-reverse;
    display: flex;
  }
}

.reverse-row-order {
 flex-direction:row-reverse;
}

.pagination-list {
  list-style-type: none;
}


.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://res.cloudinary.com/dncotieoi/image/upload/v1501651596/hero-splash_j12zqu.jpg');
}
.is-outlined {
  background-color:transparent;
  color:#fff;
}
.hero-cta {
  padding: 30px 0;
}
.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color:#95A5A6;
}
.section.main {
  background-color:#F0F0F0;
}
.icon-block {
  font-size:5em;
}

    





